@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans&display=swap);

body,html {
    margin: 0!important;
    padding: 0!important;
    top: 0!important;
    left: 0!important;
    background: #fff2e8;
    background-image: url("assets/bg-tx.png");
    font-family: 'Nunito Sans',sans-serif;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

table { border-collapse:collapse }

#contents {
    padding: 1rem;
    margin: 0 auto;
    max-width: 900px;
    font-size: 1rem;
}

#contents hr {
    color: #00000066;
}

#contacto-luis h2 {
    font-family: 'Lobster',cursive;
    padding: 0 0 0 1.5rem;
    margin: .5rem;
    font-size: 2.0rem;
    font-weight: 700;
}

#contacto-luis p {
    padding: 0 0 .5rem 1.9rem;
    margin: .5rem;
}

#contacto-luis {
    margin-bottom: 2rem;
}

#contacto-luis a {
    color: black;
}

#contacto-luis img {
    max-width: 5rem;
}

#lista,#tab,#tabla-verduras,.table {
    width: 100%;
}

#tab {
    margin-bottom: 2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

#tabla-verduras {
    border: 2px solid #a3d9ee;
}

.table {
    font-size: 1rem;
}

.tabla td,.tabla th,.table table {
    margin: 1rem;
}

.name-cell,.price-cell,.sel-cell {
    height: 3rem;
}

#tabla-verduras .name-cell,#tabla-verduras .price-cell,#tabla-verduras .sel-cell {
    padding: .2rem;
    background: #cef1ffd2;
    border-bottom: 2px solid #a3d9ee;
}

.table .header {
    font-family: 'Lobster',cursive;
    padding: .5rem 0 .5rem 1.5rem;
    margin: .5rem;
    font-size: 2.5rem;
    font-weight: 700;
    background: #a3d9ee;
}

#tabla-verduras .name-cell {
    width: 40%;
}

.cantidad {
    text-align: right;
    background: #e3f7ff;
    padding-right: .2rem;
    border: 0;
    margin-right: .2rem;
    width: 3rem;
    height: 2.5rem;
}

.cell .unit {
    font-size: 1rem;
}

.large {
    font-size: 1.4rem;
    height: 2rem;
}

#comentarios,#submit-but {
    width: 100%;
}

#submit-but {
    padding: 1rem;
    font-size: 2.5rem;
}

#info-contacto .contacto {
    width: 98%;
}

.left-beef {
    text-align: left;
}

#comentarios {
    margin: 0 auto;
    text-align: center;
}

#comentarios #text-comentarios {
    width: 100%;
    height: 8rem;
    font-size: 1.5rem;
}